/* shared styles..................... */
.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.body {
    margin: 80px;

}

/* nav styles............................ */

.r-left li {
    list-style: none;
}

.r-left {
    display: flex;
    gap: 45px;
    color: #8987A1;
    font-weight: 600px;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
}

.nav-right {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#home {
    color: #252432;
    font-weight: bold;
}

#cart {
    color: black;
}

/* Banner styles.................. */

.banner-title {
    font-size: 4rem;
}

#text-color {
    color: #E95A08;
}

.banner-des {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.banner {
    display: flex;
    margin-top: 100px;
    align-items: end;
    text-align: left;
}

/* plants section styles....................... */
.plants {
    /* justify-content: center; */
    text-align: center;
    margin-top: 100px;
}

.plants-title {
    font-size: 3.1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    padding-right: 0px;
}

.btn-primary {
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600px;
    font-size: 1rem;
    border: none;
}

.cart {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 270px;
}

.price {
    margin-top: 0px;
}

.cname {
    margin-bottom: 10px;
}

/* plants lover styles................................ */


.plants-lover {
    display: flex;
    gap: 50px;

}

.badge {
    position: absolute;
    /* top: 10px;
    left: 10px; */
    margin-top: -720px;
    margin-left: 390px;
    margin-bottom: -400px;
    max-width: 280px;
    height: 150px;
    z-index: 10;
}

.image-container {
    position: relative;
    display: inline-block;
    width: auto;
 
}

.ul-des {
    gap: 90px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.ul-des li {
    margin-bottom: 25px;

}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.l-right h2 {
    font-size: 3.1rem;
    font-weight: bold;
}

.l-right{
    width: 524px;
    margin-left: 70px;
}
/* Latest Deal Section styles................. */
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 40%;
    gap: 15px;
}

.row {
    background-image: url('./B12A02-Responsive-Flowers/assets/deal-zabo.png');
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    width: 60%;
    color: white;
    border-radius: 10px;
}

.row>img {
    width: 100%;
}

.row a,
.column a {
    color: white;
}

#bloom {
    background-image: url('./B12A02-Responsive-Flowers/assets/deal-bloom.png');
    background-size: cover;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 10px;
}

#ana {
    background-image: url('./B12A02-Responsive-Flowers/assets/deal-ana.png');
    background-size: cover;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 10px;

}

.collage {
    display: flex;
    height: 430px;
    width: 100%;
    gap: 20px;
    margin-top: 100px;
}

.latest-deal {
    justify-content: center;
    text-align: center;
}

.latest-deal h3 {
    margin-bottom: 0px;
}

/* join section........................................... */
/* .btn{
    width: 185px;
    height: 50px;
    color: white;
    background-color: #E95A08;
} */
body join {
    margin: 0px;
}

.join {
    background-image: url('./B12A02-Responsive-Flowers/assets/news-letter-bg.png');
    height: 540px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: auto;
    background-size: cover;
}

.input input[type="email"] {
    padding: 15px 30px;
    margin-right: 0;

}

.input button {
    padding: 15px 30px;
    background-color: #E95A08;
    margin-left: 0;
}

.join h2 {
    color: white;
}

/* Footer styles..................................... */
.ancors li {
    list-style: none;
    margin-bottom: 15px;
}

.ancors a {
    text-decoration: none;
    color: gray;
}

.ancors {}

.footer {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: space-between;
}

.fot {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fot img {
    width: 35px;
    height: 35px;
}



/* Media Query And Responsive.................. */

/* navbar Responsive.................. */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: row;
        margin: 0px;
        justify-content: space-between;
    }

    /* body {
        margin: 10px;
    } */

    .h {
        display: none;
    }
}

/* banner responsive................. */
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
        width: auto;
    }

    .img {
        width: auto;
        background-size: auto;
    }
}

/* plants responsives............................ */
@media screen and (max-width: 576px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cart img {
        width: auto;
    }

    .plants {
        text-align: center;
        justify-content: center;
    }

    .btn-primary {
        width: 170px;
        height: 50px;
    }

}

/* latest deal responsive................. */
@media screen and (max-width: 576px) {
    .column {
        display: flex;
        flex-direction: column;
        width: auto;

    }

    .collage {
        flex-direction: column;
        width: auto;
    }

    .row {
        flex-direction: column;
        width: auto;
    }

    .join {
        margin-top: 40px;
        width: auto;
        height: auto;
        padding: 10px;
        padding-bottom: 50px;
    }

    5
}

/* footer responsive.............................. */
@media screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
        margin-left: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        justify-items: start;
    }

    .ancors li {
        align-items: flex-start;
    }

    .fot {
        margin-left: 10px;
    }
}